.content {
  /*width: 80%;
  float: left;*/
  background-color: rgb(251, 251, 251);
}

.content .content-header {
  background-color: white;
  border-bottom: 1px solid rgb(245, 245, 245);
}

.content .content-header h1 {
  margin: 0;
  padding: 20px 30px;
}
