.nav {
  padding: 40px 40px 20px 40px;
}

.nav .nav-header {
  float: right;
}

.nav .nav-header .nav-header-item {
  padding: 5px 10px;
  display: inline-block;
  background-color: white;
  border: 1px solid var(--borderColor);
  border-right: 0;
  color: rgb(143, 143, 143);
}

.nav .nav-header .nav-header-item:first-child {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}

.nav .nav-header .nav-header-item:last-child {
  border-right: 1px solid var(--borderColor);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

.nav .nav-header .nav-header-item.selected {
  color: var(--blue);
}

.nav .nav-content {
  margin-top: 60px;
  display: table;
  width: 100%;
}

.nav .nav-content .nav-content-item {
  display: table-cell;
  padding: 5px 10px;
  text-align: center;
  border: 1px solid var(--borderColor);
  border-right: 0;
}

.nav .nav-content .nav-content-item small {
  font-weight: 300;
  opacity: 0.7;
}

.nav .nav-content .nav-content-item.selected b {
  color: var(--blue);
}

.nav .nav-content .nav-content-item .arrow {
  position: absolute;
  top: 15px;
}

.nav .nav-content .nav-content-item .arrow.bold {
  font-weight: bold;
}

.nav .nav-content .nav-content-item:first-child {
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
  position: relative;
  width: 10px;
}

.nav .nav-content .nav-content-item:last-child {
  border-right: 1px solid var(--borderColor);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  position: relative;
  width: 10px;
}
