<div class="nav">
  <div class="nav-header">
    <div *ngFor="let header of headers" class="nav-header-item" [ngClass]="{
      selected: header == selectedHeader
    }">
      {{header}}
    </div>
  </div>
  <div class="nav-content" (wheel)="onWheel($event)">
    <div class="nav-content-item">
      <div class="arrow" [ngClass]="{
        bold: selectedMonthIndex != 0,
        small: selectedMonthIndex == 0
      }" (click)="firstMonth()">
        <
      </div>
    </div>
    <div *ngFor="let month of months; let index = index" class="nav-content-item" [ngClass]="{
      selected: index == selectedMonthIndex
    }">
      <b>{{month.month}}</b>
      <small>{{month.year}}</small>
    </div>
    <div class="nav-content-item">
      <div class="arrow" [ngClass]="{
        bold: selectedMonthIndex != monthsLength - 1,
        small: selectedMonthIndex == monthsLength - 1
      }" (click)="lastMonth()">
        >
      </div>
    </div>
  </div>
</div>
