<div class="nav">
  <div class="nav-header">
    <div *ngFor="let header of headers" class="nav-header-item" [ngClass]="{
      selected: header == selectedHeader
    }">
      {{header}}
    </div>
  </div>
  <div class="nav-content">
    <div class="nav-content-item">
      <div class="arrow" [ngClass]="{
        bold: selectedMonth != months[0]
      }">
        <
      </div>
    </div>
    <div *ngFor="let month of months" class="nav-content-item" [ngClass]="{
      selected: month.month == selectedMonth.month && month.year == selectedMonth.year
    }">
      <b>{{month.month}}</b>
      <small>{{month.year}}</small>
    </div>
    <div class="nav-content-item">
      <div class="arrow" [ngClass]="{
        bold: selectedMonth != months[monthsLength - 1]
      }">
        >
      </div>
    </div>
  </div>
</div>
