<div class="statistics-per-day">
  <h2>Per Day</h2>
  <div class="statistics-per-day-statistics">
    <div class="statistics-per-day-statistics-header">
      <div class="statistics-per-day-statistics-header-item"> <b>Date</b>
      </div>
      <div *ngFor="let header of headers" class="statistics-per-day-statistics-header-item">
        <div class="statistics-per-day-statistics-header-item-content">
          <b>{{header}}</b>
          <small>Transactions</small>
        </div>
      </div>
    </div>
    <div *ngFor="let statistic of statistics" class="statistics-per-day-statistics-content">
      <div class="statistics-per-day-statistics-content-item">{{statistic.date | date:'EEE, d LLLL y'}}</div>
      <div *ngFor="let statisticPerDay of statistic.statistics" class="statistics-per-day-statistics-content-item">
        <div class="statistics-per-day-statistics-content-item-content">
          <b>€{{statisticPerDay.value | number:'1.2'}}</b>
          <small>{{statisticPerDay.transactions}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
