<div class="sidebar">
  <div class="sidebar-header">
    <h3>Pearson Specter Litt</h3>
    <h4>
      Mike Ross
      <img src="/assets/icons/angle-down.svg" alt="" width="8" height="8" title="transactions">
    </h4>
  </div>
  <div class="sidebar-content">
    <ul>
      <li>
        <img src="/assets/icons/house.svg" alt="" width="20" height="20" title="house">
        <div>Get started</div>
      </li>
        <li>
          <img src="/assets/icons/transactions.svg" alt="" width="20" height="20" title="transactions">
          <div>Transactions</div>
        </li>
      <li class="selected">
        <img src="/assets/icons/statistics.svg" alt="" width="20" height="20" title="statistics">
        <div>Statistics</div>
      </li>
      <li>
        <img src="/assets/icons/settings.svg" alt="" width="20" height="20" title="settings">
        <div>Settings</div>
      </li>
      <li>
        <img src="/assets/icons/help.svg" alt="" width="20" height="20" title="help center">
        <div>Help Center</div>
      </li>
    </ul>
  </div>
</div>
