.sidebar .sidebar-header {
  background-color: black;
  padding: 20px;
  cursor: pointer;
}

.sidebar .sidebar-header:hover {
  background-color: rgb(51, 51, 51);
}

.sidebar .sidebar-header.open {
  background-color: rgb(51, 51, 51);
}

.sidebar .sidebar-header.open img {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sidebar .sidebar-header h3 {
  margin: 0;
  color: white;
}

.sidebar .sidebar-header h4 {
  color: rgb(72, 188, 92);
  margin: 0;
  margin-top: 10px;
}

.sidebar .sidebar-header img {
  float: right;
  margin-top: 5px;
}

.sidebar .sidebar-content {
  margin-bottom: -5000px;
  padding-bottom: 5000px;
  background-color: rgb(34, 34, 34);
}

.sidebar .sidebar-content ul {
  margin-top: 0;
  padding-left: 0;
}

.sidebar .sidebar-content li {
  list-style: none;
  color: rgb(158, 158, 158);
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar .sidebar-content li.selected {
  background-color: var(--blue);
  color: white;
}

.sidebar .sidebar-content li:hover {
  background-color: var(--blue);
  color: white;
}

.sidebar .sidebar-content li img {
  float: left;
}

.sidebar .sidebar-content li div {
  padding-left: 40px;
}

.sidebar .sidebar-popup {
  background-color: white;
  border-radius: 15px;
  width: 18%;
  position: absolute;
  top: 80px;
  left: 1%;
  visibility: hidden;
}

.sidebar .sidebar-popup.open {
  visibility: visible;
}

.sidebar .sidebar-popup ul {
  margin: 0;
  padding-left: 0;
}

.sidebar .sidebar-popup li {
  list-style: none;
  cursor: pointer;
  padding: 15px 20px;
}

.sidebar .sidebar-popup li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sidebar .sidebar-popup li:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar .sidebar-popup li:hover {
  background-color: var(--blue);
  color: white;
}

.sidebar .sidebar-popup li img {
  float: left;
}

.sidebar .sidebar-popup li div {
  padding-left: 40px;
}
