/* You can add global styles to this file, and also import other style files */
:root {
  --blue: rgb(19, 117, 238);
  --cornerRadius: 7px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}
