/* You can add global styles to this file, and also import other style files */
:root {
  --blue: rgb(19, 117, 238);
  --borderRadius: 7px;
  --borderColor: rgb(235, 235, 235);
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.canvasjs-chart-tooltip {
  box-shadow: none !important;
  background-color: transparent !important;
}

.canvasjs-chart-tooltip div:first-child {
  font-size: initial !important;
}

.graph-tooltip {
  border-radius: 10px;
  background-color: white !important;
  border: 1px solid var(--borderColor);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px
}

.graph-tooltip .graph-tooltip-header {
  padding: 15px;
  border-bottom: 1px solid var(--borderColor);
}

.graph-tooltip .graph-tooltip-header h3 {
  margin: 0;
  margin-bottom: 5px;
}

.graph-tooltip .graph-tooltip-header small {
  color: gray;
  opacity: 0.6;
  font-size: 15px;
}

.graph-tooltip .graph-tooltip-content {
  padding: 15px;
}

.graph-tooltip .graph-tooltip-content .graph-tooltip-content-header {
  font-size: 17px !important;
}

.graph-tooltip .graph-tooltip-content .graph-tooltip-content-header div:first-child {
  display: inline-block;
}

.graph-tooltip .graph-tooltip-content .graph-tooltip-content-header div:last-child {
  float: right;
}

.graph-tooltip .graph-tooltip-content .graph-tooltip-content-footer {
  text-align: right;
  color: gray;
  opacity: 0.6;
  font-size: 15px;
  margin-top: 5px;
}
