.graph {
  background-color: white;
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  padding: 30px;
}

.graph .graph-header-content {
  display: inline-block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

.graph .graph-header-content:not(.selected) {
  opacity: 0.7;
}

.graph .graph-header-content .graph-header-content-circle {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 1px solid var(--blue);
  border-radius: 50%;
  position: absolute;
  top: 0px;
}

.graph .graph-header-content .graph-header-content-title {
  color: var(--blue);
  display: inline-block;
  margin-left: 25px;
}

.graph .graph-header-content .graph-header-content-small {
  display: inline-block;
}

.graph .graph-content {
  margin-top: 40px;
  margin-left: 50px;
}
