<div class="graph">
  <div class="graph-header">
    <div class="graph-header-content selected">
      <div class="graph-header-content-circle"></div>
      <div class="graph-header-content-title">Current Period</div>
      <div class="graph-header-content-small">({{ currentPeriod.month}} {{ currentPeriod.year}})</div>
    </div>
    <div class="graph-header-content graph-header-content-previous-period">
      <div class="graph-header-content-circle"></div>
      <div class="graph-header-content-title">Previous Period</div>
      <div class="graph-header-content-small">({{ previousPeriod.month}} {{ previousPeriod.year}})</div>
    </div>
  </div>
  <div class="graph-content">
    <div id="chartContainer" style="width: 100%; height: 400px;"></div>
  </div>
</div>
