<div class="statistics">
  <h2>Statistics</h2>
  <div>
    <div *ngFor="let statistic of statistics" class="statistics-statistic">
      <div class="statistics-statistic-header">
        <b>{{statistic.name}}</b>
        <small>Transactions</small>
      </div>
      <div class="statistics-statistic-content">
        <b>€{{statistic.value | number:'1.2'}}</b>
        <div class="statistics-statistic-content-transactions">{{statistic.transactions}}</div>
      </div>
      <div class="statistics-statistic-footer">
        <b>Compared to last year</b>
        <div class="statistics-statistic-footer-content">
          <small>€{{statistic.lastYearValue | number:'1.2'}}</small>
          <small class="statistics-statistic-footer-transactions">{{statistic.lastYearTransactions}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
