.statistics {
  padding: 40px;
}

.statistics h2 {
  margin-top: 0;
}

.statistics .statistics-statistic {
  background-color: white;
  border: 1px solid var(--borderColor);
  border-radius: var(--borderRadius);
  width: 31%;
  display: inline-block;
  margin-right: 3%;
}

.statistics .statistics-statistic:last-child {
  margin-right: 0;
}

.statistics .statistics-statistic .statistics-statistic-header {
  padding: 5px 10px;
}

.statistics .statistics-statistic .statistics-statistic-header small {
  float: right;
  margin-top: 3px;
  font-weight: 100;
  color: gray;
  opacity: 0.6;
}

.statistics .statistics-statistic .statistics-statistic-content {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  padding: 15px 10px;
  font-size: 22px;
}

.statistics .statistics-statistic .statistics-statistic-content .statistics-statistic-content-transactions {
  float: right;
  font-weight: 300;
}

.statistics .statistics-statistic .statistics-statistic-footer {
  padding: 5px 10px;
}

.statistics .statistics-statistic .statistics-statistic-footer .statistics-statistic-footer-content {
  font-weight: 100;
  color: gray;
  padding: 5px 0px;
  opacity: 0.6;
}

.statistics .statistics-statistic .statistics-statistic-footer .statistics-statistic-footer-content .statistics-statistic-footer-transactions {
  float: right;
}
